/* Elements */

body {
	background-color: #333;
	padding: 10px;
	opacity: 70%;
	background-image: url('../images/chipb copy.jpg');
	background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana
}

p {
	font-family: serif;
	color: #bbb;
	font-size: 1.5em;
}

/* Ids */

#site_header {
	border-radius: 15px;
	color: #5A7BCC;
	width: 500px;
	margin: 0 auto;
	text-align: center;
	background-color: black
}

#site_header>h2 {
	font-size: 4em;
}

#site_header>p {
	padding: 20px;
}

/* Classes */

.logo {
	background-color: #ddd;
	position: absolute;
	right: 7px;
	border-radius: 2em;
	border: 3px solid #fff;
	padding: 7px;
}

.logo>img {
	width: 7em;
	margin: 0 auto;
}

.main_body {
	background-color: #555;
	padding: 15px;
	margin: 30px 20px 30px 130px;
	border-radius: 5px;
	height: 600px;
	text-align: center;
	color: #aaa;
	font-family: verdana;
}

.menu_bar {
	position: absolute;
	left: 0px;
	top: 200px;
	color: #aaa;
}

.menu_bar>ul {
	list-style: none;
	background-color: black;
	padding: 2em;
	border-radius: 0px 50px 50px 0px;
}

.menu_bar>ul>li {
	cursor: pointer;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 1.5em;
}

.menu_bar>ul>li:hover {
	color: #5A7BCC;
}

.content_window {
	background-color: #222;
	height: 500px;
	border-radius: 20px;
	vertical-align: middle;
	max-width: 1000px;
	margin: 0 auto;

}

/* Media Queries */

@media only screen and (max-width: 900px){
	.logo {
		position: static;
		padding: 7px;
		width: 118px;
		margin: 0 auto;
	}
	.menu_bar {
		position: fixed;
		top: auto;
		left: 50%;
		width: 340px;
		transform: translateX(-50%);
		bottom: -10px;
		margin: 0 auto;
	}
	
	.menu_bar>ul {
		
		border-radius: 50px 50px 0px 0px;
	}

	.menu_bar>ul li {
		display: inline;
		font-size: 0.9em;
		padding: 5px 8px 5px 8px;
	}

	.main_body {
		margin-left: 20px;
	}
}

@media only screen and (max-width: 600px){
	#site_header {
		width: 100%;
	}
}